github "ReactiveCocoa/ReactiveCocoa" ~> 4.2
github "Alamofire/Alamofire" ~> 3.5
github "rs/SDWebImage" ~> 3.8
github "jspahrsummers/xcconfigs" "master"
github "notbenoit/DataSource" "tvOS-target"
github "notbenoit/JSONParsing" "tvOS-target"
